.category .active {
    color: var(--color-primary-400);
}

.page-item .btn {
    padding: 8px 15px;
    border-radius: 0px;
    font-weight: 400;
}

.page-item .active {
    background-color: var(--color-primary-300);
    font-weight: 500;
}